.navbar-light {
  /* display: none; */
}

.navbar-light .navbar-nav .nav-link {
  padding: 25px 10px;
  color: #343a40;
  font-weight: 500;
  outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
  color: #0BCEAF;
}

@media (max-width: 991.98px) {
  .navbar-light .navbar-nav .nav-link {
    padding: 10px 0;
  }
}

.about-img {
  margin-left: -100px;
  margin-right: -60px;
}

.display-1 {
  font-size: 160px;
  font-weight: 1000;
}

.position-absolute {
  font-weight: 700;
}

.typed-cursor {
  font-size: 45px;
  color: #ffffff;
}

.blue {
  background-color: #1c5ce6;
  color: #ffffff;
}

.btn {
  border: 2px solid rgb(29, 105, 247);
}

.btn-white {
  background-color: #ffffff;
  border: 2.4px solid #ffffff;
}

.btn-blue {
  border: 2.4px solid #ffffff;
  color: #ffffff;
}

@media (max-width: 700px) {
  .about-img {
    margin-left: 20px;
    right: 0px;
    top: 30px;
  }
}

.skill-icon {
  width: 100px;
  height: 150px;
  cursor: pointer;
}

.skills {
  display: flex;
}

.project-item .project-btn {
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  border-radius: 4px;
  opacity: 0;
  transition: .5s;
}

.project-item:hover .project-btn {
  opacity: 1;
  width: calc(100%-60px);
  height: calc(100%-60%);
  top: 30px;
  left: 30px;
}

.contact-form .help-block ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}